{
  "Edge": {
    "TorrentDir": "${SNAP_COMMON}/var/cache/horizon/torrent/",
    "APIListen": "0.0.0.0:80",
    "DBPath": "${SNAP_COMMON}/var/horizon/",
    "GethURL": "http://127.0.0.1:8545",
    "DockerEndpoint": "unix:///var/run/docker.sock",
    "StaticWebContent": "${SNAP}/usr/horizon/web/",
    "PublicKeyPath": "${SNAP}/etc/horizon/trust/mtn-publicKey.pem",
    "TrustSystemCACerts": true,
    "CACertsPath": "${SNAP}/etc/horizon/trust/horizon.pem",
    "DefaultCPUSet": "",
    "WorkloadROStorage": "${SNAP_COMMON}/var/tmp/horizon/workload_ro/",
    "ExchangeURL": "https://<wiotp_dest>",
    "PolicyPath": "${SNAP_COMMON}/etc/horizon/policy.d/",
    "ExchangeHeartbeat": 60,
    "AgreementTimeoutS": 600,
    "ReportDeviceStatus": true
  }
}
