horizon (2.22.10++VERSIONSUFFIX++) ++DISTRIBUTIONS++; urgency=medium

    * github.com/open-horizon/anax.git, branch: la
      - e67aca1 (Dave Booz): Issue 826 Initial la branch

 -- Blue Horizon Team <developers@bluehorizon.network>  Tue, 09 Apr 2019 11:25:46 -0400

horizon (2.22.9++VERSIONSUFFIX++) ++DISTRIBUTIONS++; urgency=medium

    * github.com/open-horizon/anax.git, branch: la

 -- Blue Horizon Team <developers@bluehorizon.network>  Thu, 04 Apr 2019 14:55:42 -0400
