horizon (2.13.10++VERSIONSUFFIX++) ++DISTRIBUTIONS++; urgency=medium

    * github.com/open-horizon/anax-ui.git, branch: master
      - 3ae4389 (Varatep Buranintu): change error message text to use 'node' instead of 'device'
      - fc0918d (Varatep Buranintu): handle 409 from registering an already-configured node
      - 8d820cb (Varatep Buranintu): use status instead of status text
      - fc18c00 (Varatep Buranintu): update configstate api errors
      - 1b1cc54 (Varatep Buranintu): update node registration error handling

    * github.com/open-horizon/anax.git, branch: master
      - aa86eb8 (linggao): Support fs binding for workload
      - 6af879e (linggao): Issue 440 - Add version to anax and returned in anax api
      - 5d1b0ed (Bruce Potter): fixed hzn register to use cliutils.OrgAndCreds() so it works for wiotp
      - f214b43 (Dave Booz): Issue 419 - add all variables to container, verify workload

 -- Blue Horizon Team <developers@bluehorizon.network>  Thu, 11 Jan 2018 22:28:34 +0000

horizon (2.13.9++VERSIONSUFFIX++) ++DISTRIBUTIONS++; urgency=medium

    * github.com/open-horizon/anax-ui.git, branch: master
      - 64ce3d0 (Varatep Buranintu): downgrade jest for travis tests
      - 0303dc8 (Varatep Buranintu): only use node 4
      - 463e4f7 (Varatep Buranintu): downgrade node version to 4
      - 1090c33 (Varatep Buranintu): remove test button
      - e3232db (Varatep Buranintu): fix callback name typo
      - bf9043c (Varatep Buranintu): adjust workload config url
      - 163d5be (Varatep Buranintu): render and collect user inputs into attributes
      - a6951d2 (Varatep Buranintu): import workload attribute api call
      - 2c8bd67 (Varatep Buranintu): create api calls to set workload config
      - 45821e4 (Varatep Buranintu): generator for workload attributes
      - ad91d32 (Varatep Buranintu): expose workload config action
      - a355155 (Varatep Buranintu): update jest and add hashmap

    * github.com/open-horizon/anax.git, branch: master
      - 1a9bdb6 (Bruce Potter): added comments for why not using rpc.go GetMicroservices()
      - a27495e (Bruce Potter): support version range for hzn reginput
      - 979f665 (linggao): Added more transport error checkings for calling to the exchange
      - 2f98f3e (Bruce Potter): fixed bug in register and added initial version of reginput
      - 2bf49d2 (Bruce Potter): used more structs from anax
      - fe385bb (linggao): Issue 492 - Better torrent value to indicate image is stored in docker registry
      - 411384c (Bruce Potter): have node create check if node is owned by a different user
      - a38aad6 (Bruce Potter): made names-only the default, added removeworkload, and added docker push instructions

 -- Blue Horizon Team <developers@bluehorizon.network>  Mon, 08 Jan 2018 21:45:09 +0000

horizon (2.13.8++VERSIONSUFFIX++) ++DISTRIBUTIONS++; urgency=medium

    * github.com/open-horizon/anax-ui.git, branch: master

    * github.com/open-horizon/anax.git, branch: master
      - dfedd42 (Bruce Potter): go format of hzn code
      - 4d83b1b (Bruce Potter): added remove sub-cmd for ms, wk, pat
      - 6759e4f (michael dye): added support for x509 cert upload to Anax API, basic test to verify it
      - e36f8a0 (Bruce Potter): added hzn key import and remove
      - 96faee5 (Bruce Potter): added hzn key create and hzn exchange workload verify
      - 88ad6e7 (Bruce Potter): added hzn sub-cmd to add patterns to agbots
      - 948c789 (Bruce Potter): made hzn work with wiotp exchange
      - a9649c9 (Dave Booz): Issue 419 - Start and stop workloads in test mode

 -- Blue Horizon Team <developers@bluehorizon.network>  Wed, 03 Jan 2018 22:30:39 +0000

horizon (2.13.7++VERSIONSUFFIX++) ++DISTRIBUTIONS++; urgency=medium

    * github.com/open-horizon/anax-ui.git, branch: master

    * github.com/open-horizon/anax.git, branch: master

 -- Blue Horizon Team <developers@bluehorizon.network>  Mon, 18 Dec 2017 19:53:19 +0000

horizon (2.13.6++VERSIONSUFFIX++) ++DISTRIBUTIONS++; urgency=medium

    * github.com/open-horizon/anax-ui.git, branch: master
      - 37d4d5e (Varatep Buranintu): force pattern usage to include org
      - e16b478 (Varatep Buranintu): force to never reg using mike's action

    * github.com/open-horizon/anax.git, branch: master
      - ad5475d (linggao): Issue 485 - Add hzn sub-commands for agbot agreement list and cancelation

 -- Blue Horizon Team <developers@bluehorizon.network>  Fri, 15 Dec 2017 17:02:14 +0000

horizon (2.13.5++VERSIONSUFFIX++) ++DISTRIBUTIONS++; urgency=medium

    * github.com/open-horizon/anax-ui.git, branch: master
      - 5966c3b (Varatep Buranintu): check agreement existence
      - 129d4a9 (Varatep Buranintu): fix issue with displaying error at the same time as pattern selection
      - 39a3c90 (Varatep Buranintu): use device id from account form
      - 224c1cb (Varatep Buranintu): changes for cross org ms/wl from a pattern
      - d235640 (Varatep Buranintu): always show active agreement info fields even when unavailable
      - 5af8575 (Varatep Buranintu): use new workload info to display title in dashboard for active agreement
      - ce6736b (Varatep Buranintu): Changes to support three-level login

    * github.com/open-horizon/anax.git, branch: master
      - f6d4647 (Bruce Potter): added pattern insertworkload
      - fabcb41 (Bruce Potter): added publish cmd to microservice, workload, and pattern
      - 254dbbe (linggao): Issue 482 - Add default docker credential file for docker image pulling

 -- Blue Horizon Team <developers@bluehorizon.network>  Fri, 15 Dec 2017 01:04:48 +0000

horizon (2.13.4++VERSIONSUFFIX++) ++DISTRIBUTIONS++; urgency=medium

    * github.com/open-horizon/anax-ui.git, branch: master
      - 215894d (Varatep Buranintu): add errors and check account credentials in initial account form
      - 7777431 (Varatep Buranintu): handle the case where there are no patterns for an org

    * github.com/open-horizon/anax.git, branch: master
      - 042e0db (linggao): Issue 477 part 2 - Error in version comparision
      - 2a20f05 (linggao): Issue 477 - Error in version comparision
      - 3f9032f (Dave Booz): Issue 419 - dev command infrastructure
      - fc130d9 (linggao): GetMicroservice and GetWorkload return nil when there are no items to return.
      - 89e9ef4 (linggao): Issue 471 - anax does not check for the arch of a microservice in a workload
      - 72b9580 (michael dye): fix small issues reported by lint
      - c4ee2b7 (michael dye): added docker image loading to torrent worker for hzn Pkg consistency w/ docker pull mechanism; added logic for pulling docker images; added integration tests and updated lib dependencies for fetching and verifying signatures
      - 5fe6da2 (michael dye): added BXDockerRegistryAuthAttributes, support for manipulating it with the API, and config param DockerCredFilePath for setting docker credentials more generally
      - 92643bd (michael dye): refactored launch context content to add deployment description fetching method to interface
      - f00fc4a (michael dye): factored out container structs for common sharing among other workers; new package named 'containermessage'
      - 612c6d3 (Bruce Potter): added viewing patterns to hzn
      - eb5c0b9 (michael dye): remove Snap mention in Readme
      - 990157e (Bruce Potter): small fixes to hzn help - ammended to remove show/show.go

 -- Blue Horizon Team <developers@bluehorizon.network>  Tue, 12 Dec 2017 18:36:12 +0000

horizon (2.13.3++VERSIONSUFFIX++) ++DISTRIBUTIONS++; urgency=medium

    * github.com/open-horizon/anax-ui.git, branch: master
      - a490cd5 (Varatep Buranintu): Change instances of "device" to be "edge node"
      - f558d5d (Varatep Buranintu): remove account registration
      - 956e352 (Varatep Buranintu): remove small description for device id and set to node id as default
      - 702bafe (Varatep Buranintu): grab env and device arch from config
      - ab8bf82 (Varatep Buranintu): show all patterns instead of just ARM
      - d125dcc (Varatep Buranintu): allow the user to set device id

    * github.com/open-horizon/anax.git, branch: master
      - 36fe126 (Dave Booz): disable default Horizon UI page
      - 9722fda (linggao): Issue 373 part 4: more test cases
      - b590575 (linggao): Issue 373 part 3: more on microservice downgrade
      - 358fed6 (linggao): Issue 373 part 2: microservice upgrade and downgrade
      - 2c1a2ef (linggao): Issue 437: Make exchange api handlers acceesible to all
      - b2ed04b (linggao): format and merged with latest code
      - 0331e32 (linggao): Issue 373 part 1: recalculate microservice upgrade version range every time
      - 7af4cae (linggao): Issue 373 part 1: Register microservice with version that is the lowest ceiling among all the referenced version ranges.
      - 517496c (michael dye): made minor output error adjustments
      - adfff9f (michael dye): Updated dependent lib rsapss-tool to 0.3.0 w/ x509 cert verification. Updated docs, error messages accordingly
      - 0a00d2e (Bruce Potter): small hzn changes and enhancements and merged Makefile
      - f7ed345 (Dave Booz): Node self terminates when exchange node resource is deleted
      - d72548d (Dave Booz): Keep agbot policy watcher running

 -- Blue Horizon Team <developers@bluehorizon.network>  Mon, 04 Dec 2017 19:57:26 +0000

horizon (2.13.2++VERSIONSUFFIX++) ++DISTRIBUTIONS++; urgency=medium

    * github.com/open-horizon/anax-ui.git, branch: master

    * github.com/open-horizon/anax.git, branch: master
      - 7c58b02 (Dave Booz): Expose workload info in agreement record
      - 8c6d114 (michael dye): removed test-ci from check
      - c88153f (michael dye): updated README with mention of deps target nuances; added test-ci target and dependency on it from check target
      - 38f51ff (michael dye): improved logging
      - e019eb7 (michael dye): improved support for TMPGOPATH; added arch cross-compilation
      - aa4be9e (Dave Booz): Issue 453 - Increase API unit test coverage
      - 2b4b11f (Dave Booz): Issue 430 - Default registration page when UI not installed.

 -- Blue Horizon Team <developers@bluehorizon.network>  Tue, 28 Nov 2017 21:57:56 +0000

horizon (2.13.1++VERSIONSUFFIX++) ++DISTRIBUTIONS++; urgency=medium

    * github.com/open-horizon/anax-ui.git, branch: master
      - 51d20f9 (Varatep Buranintu): dim lights if submitting
      - e5bb905 (Varatep Buranintu): be more clear about the pattern registration on the next page
      - 2597e31 (Varatep Buranintu): change node api urls

    * github.com/open-horizon/anax.git, branch: master
      - 019f1fa (Dave Booz): Issue 426 - Add Unconfigured state to node config state
      - eb8dab0 (Dave Booz): Issue 441 - Include node hardware architecture in /status API
      - 0ef7d0c (Dave Booz): Issue 339 - API doc

 -- Blue Horizon Team <developers@bluehorizon.network>  Tue, 21 Nov 2017 17:28:20 +0000

horizon (2.13.0++VERSIONSUFFIX++) ++DISTRIBUTIONS++; urgency=medium

    * github.com/open-horizon/anax-ui.git, branch: master
      - 175831a (Varatep Buranintu): remove pattern filtering for arm
      - 25a5352 (Varatep Buranintu): change to allow location updates and only redirect from dashboard if org does not exist.

    * github.com/open-horizon/anax.git, branch: master
      - ea480e8 (Bruce Potter): go fmt and add token_valid field
      - ee91a00 (Bruce Potter): updated hzn for api restructure
      - f96bee1 (Dave Booz): Issue 339 - fix microservice search in microservice/config API
      - e5d247f (michael dye): force TLS 1.2, a requirement of the security team
      - c0d40d9 (Dave Booz): Issue 339 - Restructure node REST API

 -- Blue Horizon Team <developers@bluehorizon.network>  Fri, 17 Nov 2017 18:52:06 +0000

horizon (2.12.1++VERSIONSUFFIX++) ++DISTRIBUTIONS++; urgency=medium

    * github.com/open-horizon/anax-ui.git, branch: master

    * github.com/open-horizon/anax.git, branch: master
      - 8a88fd4 (Bruce Potter): hzn go fmt again
      - 0da5fa3 (Bruce Potter): hzn error checking, support for HTTPSBasicAuthAttributes and AgreementProtocolAttributes, and node id/token optional

 -- Blue Horizon Team <developers@bluehorizon.network>  Thu, 16 Nov 2017 14:04:09 +0000

horizon (2.12.0++VERSIONSUFFIX++) ++DISTRIBUTIONS++; urgency=medium

    * github.com/open-horizon/anax-ui.git, branch: master
      - 514af06 (Varatep Buranintu): use float form for lat and lng
      - ce27ba4 (Varatep Buranintu): add location accuracy input
      - 364badd (Varatep Buranintu): show error and catch account form submission err
      - 0dac547 (Varatep Buranintu): updates for default device form values
      - 1abc02d (Varatep Buranintu): remove sequential promise
      - 4e01414 (Varatep Buranintu): remove sequential promise
      - c9c6dcd (Varatep Buranintu): use pattern in current build
      - 6e677a0 (Varatep Buranintu): set device configured successfully state
      - f9defe3 (Varatep Buranintu): add action type
      - eb2e647 (Varatep Buranintu): add submit options for mswl presenter
      - ecb3204 (Varatep Buranintu): add actions to service form
      - 1ed7c92 (Varatep Buranintu): updates for sequential promise to pattern view submission
      - d2dfca0 (Varatep Buranintu): add actions to pattern view
      - 39f595a (Varatep Buranintu): add actions
      - 4a5185b (Varatep Buranintu): make reg pattern-only in this build
      - 035fd74 (Varatep Buranintu): add explicit button type
      - 4227480 (Varatep Buranintu): set workload and ms configs
      - 7c98454 (Varatep Buranintu): change url and props
      - 7772965 (Varatep Buranintu): set device as configured
      - d04cb0c (Varatep Buranintu): change url and props
      - d0e2e07 (Varatep Buranintu): use node id if doesn't exist
      - 410084e (Varatep Buranintu): add sequential promises
      - 2a4ba02 (Varatep Buranintu): add query string to make url parameters pretty
      - 1096109 (Varatep Buranintu): add fbjs as explicit dep to fix semantic ui
      - aa75059 (Varatep Buranintu): add babel preset env
      - ed267b1 (Varatep Buranintu): updates for semantic accordion
      - 3b5037a (Varatep Buranintu): expose actions to pattern view
      - fd233b1 (Varatep Buranintu): set service form page title for mswl
      - fbc5986 (Varatep Buranintu): state for using pattern or not
      - 5b5ad3b (Varatep Buranintu): move all api updates to the pattern view
      - d77ebab (Varatep Buranintu): set the existing account expectations
      - f1a6fe8 (Varatep Buranintu): expose setExpectExistingAccount
      - cefde3b (Varatep Buranintu): add action for patching pattern
      - 226f7a0 (Varatep Buranintu): add pattern when registering account
      - 916bd6c (Varatep Buranintu): add org to auth
      - 2995b82 (Varatep Buranintu): include setExpectExistingAccount action and export
      - 8dad32b (Varatep Buranintu): set reducer state to have expectExistingAccount var
      - f2d75e9 (Varatep Buranintu): include changes for deprecated babel preset
      - b802ec0 (Varatep Buranintu): combine pattern reducer to master reducer
      - d679aa3 (Varatep Buranintu): pattern reducer that makes use of same methods as services reducer
      - a94940d (Varatep Buranintu): add pattern view to route
      - 7c55f05 (Varatep Buranintu): export patterns actions
      - b1c2483 (Varatep Buranintu): show a modal that asks for creds first
      - d5b90e6 (Varatep Buranintu): remove workload approach for now until ready
      - 7289ee5 (Varatep Buranintu): pattern view presenter
      - 6267252 (Varatep Buranintu): map states <-> props for pattern view
      - 6d38797 (Varatep Buranintu): change services action to accept dynamic env and credentials
      - bf41c75 (Varatep Buranintu): dynamic patterns action
      - 0e2ee12 (Varatep Buranintu): add patterns to exported actions
      - 0a3ba7a (Varatep Buranintu): proper rendering with submit button for two columns
      - 6fa908c (Varatep Buranintu): use possible workloads when using microservice approach
      - 0a659f7 (Varatep Buranintu): use current workload instead of from the state -- might not be init'd
      - df52726 (Varatep Buranintu): remove old code
      - 2661535 (Varatep Buranintu): helper fn for updating current approach
      - d19c9cf (Varatep Buranintu): helper fn to reset enablements
      - 77dd9ca (Varatep Buranintu): get all possible workloads from enabled microservices
      - d5add20 (Varatep Buranintu): get enabled microservices
      - 35417c6 (Varatep Buranintu): set initial state for filter
      - 726f8d3 (Varatep Buranintu): extrac approach const strings into helper file
      - 2d04b9a (Varatep Buranintu): move the filter segment to its own pure component
      - 90c237f (Varatep Buranintu): wrap the render fn so the UI can determine state readiness
      - 4766367 (Varatep Buranintu): conditionally render column based on ms/wl existence
      - 4a20311 (Varatep Buranintu): make an expandable filter segment
      - 42d7a83 (Varatep Buranintu): render fn for entire workload section/column
      - a6dfd80 (Varatep Buranintu): render fn for workload segment/card
      - b1b2f3a (Varatep Buranintu): render function for required microservices
      - d640445 (Varatep Buranintu): fn to render user inputs from workload
      - 5ccdfde (Varatep Buranintu): add microservice lookup helper fn
      - 09705e6 (Varatep Buranintu): don't show hardware list anymore
      - 25c6758 (Varatep Buranintu): add microservice download url
      - a02524b (Varatep Buranintu): document for _generateMicroserviceSegments
      - 4ace192 (Varatep Buranintu): add the onChange functionality and knowledge of current service
      - 2ff9561 (Varatep Buranintu): move helper function to global component
      - f1d386c (Varatep Buranintu): document _generateMicroserviceSegments
      - 8d95bc2 (Varatep Buranintu): document _generateHardwareList
      - 834dc41 (Varatep Buranintu): fetch microservices and workloads in one promise
      - 9744b61 (Varatep Buranintu): populate the state with fields for workloads and microservices
      - b5a6596 (Varatep Buranintu): find single user input object by input name
      - cb6b50b (Varatep Buranintu): find ms/wl using the originalKey property
      - 2aea2b8 (Varatep Buranintu): declare fields property in component state
      - 7ce9d22 (Varatep Buranintu): handle microservice enablement and bind it
      - 3e39116 (Varatep Buranintu): handle workload enablement and bind it
      - 14f218e (Varatep Buranintu): fn for handling user input change in workload segment and bind it
      - 75d1df8 (Varatep Buranintu): add helper function to parse date property
      - 0180b45 (Varatep Buranintu): add accordion and popup imports
      - b7f9d2f (Varatep Buranintu): add agnostic behavior of service calls
      - cc4e282 (Varatep Buranintu): add orgid, username, password params to api call
      - 92674d1 (Varatep Buranintu): add microservice handling for reducer
      - 563bc50 (Varatep Buranintu): render microservice column
      - d0e7c3c (Varatep Buranintu): update semantic ui
      - 0825cef (Varatep Buranintu): make presenter aware of microservices and workloads state
      - 6d3baa9 (Varatep Buranintu): add helper to check if microservice or workload label contains a string
      - d2f3a4e (Varatep Buranintu): add concept of microservices and workloads to services form redux
      - 24a0eaa (Varatep Buranintu): add initial split presenter
      - cbc06ab (Varatep Buranintu): change exchange urls and change device terminology to node
      - db6e360 (Varatep Buranintu): add organization inputs
      - a0411bf (Varatep Buranintu): add organization initial state
      - 4d56664 (Varatep Buranintu): add organization validator

    * github.com/open-horizon/anax.git, branch: master
      - c594322 (michael dye): fix Makefile target to build CLI_EXECUTABLE
      - 37fe79e (Bruce Potter): check for hzn register input file early
      - f3021a0 (michael dye): added hzn cli (and samples) to install target
      - 7a53bf7 (Bruce Potter): ran gofmt on the cli code
      - 7e086bd (Bruce Potter): updated use of LocationAttributes because of changes
      - b8e05e9 (Bruce Potter): added ptr to samples/input.json in hzn help
      - 7bbf29d (Bruce Potter): added org on show workloads after anax fixed bug
      - 8d14c07 (Bruce Potter): implemented the real unregister
      - f5890b4 (Bruce Potter): registration complete, and added makefile targets in top level
      - 099bc06 (Bruce Potter): register almost done
      - e6f8c96 (Bruce Potter): added show metering and show keys
      - 20fa931 (Bruce Potter): hzn register partially working
      - 33c2ca8 (Bruce Potter): hzn show agreements working
      - 6da97cd (Bruce Potter): basic hzn cli framework
      - 514eaa0 (Dave Booz): Issue 413 - Change location attribute fields lat and lon to float
      - 165521c (linggao): anax API doc update

 -- Blue Horizon Team <developers@bluehorizon.network>  Tue, 14 Nov 2017 19:26:31 +0000

horizon (2.11.0++VERSIONSUFFIX++) ++DISTRIBUTIONS++; urgency=medium

    * github.com/open-horizon/anax-ui.git, branch: master

    * github.com/open-horizon/anax.git, branch: master
      - dd29e15 (linggao): Issue 393 - Use rsapss-tool for deployment signature verification
      - 346290d (Dave Booz): Issue 412 - Add org to workloadconfig
      - 75983c0 (Dave Booz): Issue 403 - Issue message when configstate API skips a workload
      - 477b1ac (Dave Booz): Issue 403 - Fail PUT configstate when there are no microservices
      - bb8f283 (Dave Booz): Issue 406 - Enable default for workload_version on /workloadconfig API
      - 5231f3f (Dave Booz): Issue 405 - fix multithread access to message handlers
      - 3be5d57 (Dave Booz): Issue 402 - fix inconsistent response to DELETE /horizondevice
      - 789873d (Dave Booz): Issue 369 - terminate agbot on node when not configured in exchange
      - a41a256 (Dave Booz): Issue 369 - blockchain container cleanup
      - 959eceb (linggao): Issue 391 - Anax needs to verify the pattern in the proposal before accepting it
      - 7cdc157 (Dave Booz): Issue 369 - Unconfigure a node
      - 291da21 (linggao): Fixed unit test cases for node status
      - ac3c46e (linggao): Issue 384 - more error details for agreement termination reason.
      - ae56f6e (michael dye): updated to horizon-pkg-fetch merge commit 265dd9db3be56266a6452b094b5c21791de49566 (includes path handling for absolute URLs that assume the same domain as Pkg meta)
      - 67cf262 (michael dye): removing errant less output in file
      - f04cf4c (linggao): Issue 385 - Restore default for MS privileged setting to false
      - 365f23c (Michael Dye): fixed error in URL in sample attribute API call
      - 642cc89 (bmpotter): small edits to deployment_string.md
      - 585445d (bmpotter): 3rd draft of deployment_string.md
      - 41f98d4 (bmpotter): 2nd draft of deployment_string.md
      - 57799c4 (bmpotter): Initial draft of deployment_string.md

 -- Blue Horizon Team <developers@bluehorizon.network>  Wed, 08 Nov 2017 19:55:17 +0000

horizon (2.10.0++VERSIONSUFFIX++) ++DISTRIBUTIONS++; urgency=medium

    * github.com/open-horizon/anax-ui.git, branch: master

    * github.com/open-horizon/anax.git, branch: master
      - 5adaa5a (Dave Booz): Issue 330 - Support node health checks as part of monitoring agreements

 -- Blue Horizon Team <developers@bluehorizon.network>  Thu, 19 Oct 2017 23:48:18 +0000

horizon (2.9.1++VERSIONSUFFIX++) ++DISTRIBUTIONS++; urgency=medium

    * github.com/open-horizon/anax-ui.git, branch: master

    * github.com/open-horizon/anax.git, branch: master
      - 4c2ff2c (Dave Booz): Issue 379 - cross org nmicroservice fix, and Issue 376 - agbot doesnt autogen policy first time
      - 30725da (linggao): Fixed issue 380. anax panic for node status report.
      - c8d58f6 (linggao): Updated the anax api doc for /configstate

 -- Blue Horizon Team <developers@bluehorizon.network>  Wed, 18 Oct 2017 20:26:07 +0000

horizon (2.9.0++VERSIONSUFFIX++) ++DISTRIBUTIONS++; urgency=medium

    * github.com/open-horizon/anax-ui.git, branch: master
      - 60862c5 (Varatep Buranintu): fixes for attribute api changes
      - d98c009 (Varatep Buranintu): change attribute api endpoint
      - abbcf40 (Varatep Buranintu): include `promise` and `whatwg-fetch` to fix hzn deb builder
      - 2e56078 (Varatep Buranintu): add deviceForm state fields
      - 7ac3982 (Varatep Buranintu): nest in a call to enable blockchain for the device before navigation
      - 61797eb (Varatep Buranintu): add blockchain toggle
      - d372aff (Varatep Buranintu): expose deviceFormSubmitBlockchain to presenter
      - ad8147e (Varatep Buranintu): add agreement mappings for blockchain enablement
      - 9169d56 (Varatep Buranintu): expose blockchain api wrapper
      - dd0e0ef (Varatep Buranintu): add blockchain enablement api wrapper

    * github.com/open-horizon/anax.git, branch: master
      - ae8963b (linggao): Fixed microservice userInput checking
      - 000ef50 (linggao): issue 313 - Anax update exchange with container status
      - 2fad4c2 (Dave Booz): Issue 355 - additional API refactoring, delete agreements with empty DB on restart
      - be0ad6d (michael dye): updated horizon-pkg-fetch version to one inclusive of big file timeouts
      - 433b04a (michael dye): add default transport timeouts so large overall Client timeout won't cause problems if idle
      - 43f0e4f (Dave Booz): Issue 355 - autoconfigure microservices that dont have variables to set
      - 31f654f (Dave Booz): Issue345 bring container intgeration tests back as CI tests
      - 2674f93 (linggao): Set the maximum agreements to unlimited if the device is associated with a pattern
      - 66a3155 (Dave Booz): Issue345 - complete HA with pattern support

 -- Blue Horizon Team <developers@bluehorizon.network>  Fri, 13 Oct 2017 17:59:39 +0000

horizon (2.8.0++VERSIONSUFFIX++) ++DISTRIBUTIONS++; urgency=medium

    * github.com/open-horizon/anax-ui.git, branch: master

    * github.com/open-horizon/anax.git, branch: master
      - acf0bb2 (michael dye): updated fetch lib, fixed error in auth cred collection
      - d2f45f7 (michael dye): obfuscated password attribute output, added host_only attribute to API attribute type, and added missing deserialization and output functionality
      - f579858 (michael dye): added added HTTPS basic auth attribution fetch

 -- Blue Horizon Team <developers@bluehorizon.network>  Thu, 28 Sep 2017 22:58:38 -0600

horizon (2.7.0++VERSIONSUFFIX++) ++DISTRIBUTIONS++; urgency=medium

    * github.com/open-horizon/anax-ui.git, branch: master

    * github.com/open-horizon/anax.git, branch: master
      - 9e125ad (michael dye): use Horizon primary key for verifying fetch products
      - 6d1f10f (michael dye): added booz's fix to LaunchContext structs
      - 7cbcb3f (Dave Booz): fix policy lib test problems
      - 5158839 (Dave Booz): properly handle policy attributes in the API
      - 2eb530f (michael dye): updated workload/microservice/geth container payloads to include Pkg signature, use Pkg fetch in torrent worker to download them
      - a309e1e (michael dye): updated exchange RPC calls to use base64-encoded basic auth creds
      - 9312a61 (michael dye): fixed order of header setting in common writeResponse() function such that the content-type gets set appropriately in the HTTP response header
      - fe47c50 (michael dye): Replaced old fetch mechanism with Horizon Pkg fetch mechanism
      - 6f6f744 (michael dye): removed old fetch system that depended on a torrent client
      - c38ebae (michael dye): removed unnecessary hashes, signatures from contexts, events, and messages
      - 49607bf (michael dye): added dependency on horizon-pkg-fetch for (initially) fetching Horizon images
      - ec61dc0 (michael dye): add compatibility function producer so HTTPClientFactory can be used by outside modules and avoid the dependency
      - d55c297 (michael dye): make use of pubKeyFile-derived PSS sig check path optional in favor of userKeys dir
      - 1e44826 (linggao): Updated the anax api doc, plus a minor fix
      - 395a7e4 (michael dye): fixed bug in compute / architecture attribute addition
      - f09803a (michael dye): added patternedDeviceAttributeVerifier to service API
      - 554d2ac (michael dye): fixed errors in input error string output (whitespace mistakes)
      - e913412 (michael dye): adjusted test hostnames to pass on stock macos (it doesn't resolve localhost.localdomain)
      - 7f3c8b9 (michael dye): reworked check of mismatched sensorURLs with attributes specified in services
      - 35428f5 (michael dye): replaced use of attribute IDs with type names; updated use of type.String() calls with type.Name() calls (which do not include the module name in the type)
      - f313583 (michael dye): consolidate attributes of all types; reduce API function length; add test coverage
      - e1cb90b (Dave Booz): Issue 308 - Support patterns in agbot and nodes
      - 7474b85 (linggao): Fixed so that device id gets checked for POST /horizondevice api call
      - c58a24d (michael dye): adjusted Anax API input validation to permit characters needed by WIoTP account names, tokens, and other values
      - a38577f (linggao): updated anax doc for /microservice api.
      - 5084436 (linggao): issue324 part two - remove user id and email from the /horizondevice api
      - f1c4fcb (Dave Booz): Issue 307 - support multi-tenant exchange
      - b2149e8 (linggao): issue 294 - Support microservices that are shared between/across agreements

 -- Blue Horizon Team <developers@bluehorizon.network>  Thu, 28 Sep 2017 18:36:33 +0000

horizon (2.6.0++VERSIONSUFFIX++) ++DISTRIBUTIONS++; urgency=medium

    * github.com/open-horizon/anax-ui.git, branch: master
      - 0386901 (Varatep Buranintu): make travis build successfully
      - 5ad774b (Varatep Buranintu): fix sendAudio in aural audio classification toggle
      - eb97843 (Varatep Buranintu): input now returns a second param, so we have to check for field name to see if it is a toggle for metering
      - 90ab409 (Varatep Buranintu): change outdated rpi hardware link
      - 0811939 (Varatep Buranintu): add dynamic env urls to services form
      - b20385b (Varatep Buranintu): change hard-coded urls to be dynamic based on env
      - 1fe9c18 (Varatep Buranintu): map state to props for configuration reducer in services form
      - 6e4f283 (Varatep Buranintu): map state to props for configuration reducer in device form
      - a848c7d (Varatep Buranintu): add environment checker with url generator

    * github.com/open-horizon/anax.git, branch: master
      - 7a632e9 (linggao): issue 324 - support user defined device id
      - 104cb14 (linggao): Changed WorkloadConfig attribute name version to workload_version
      - aaa1742 (michael dye): added unit test build flag to non-integration tests
      - c6bc484 (michael dye): improved separation b/n test types (unit and integration); removed unused jslint invocation, cleaned-up go vet invocation so it excludes vendored files
      - f6319cd (michael dye): fixed invocation of wl_persistence integration tests b/c of method signature changes in commit e4ff7315
      - e4d4229 (michael dye): added build flag to prevent executing integration tests depending on net.http.ServeTLS function unless using Golang 1.9
      - bc56629 (michael dye): fixed invocations of tests that need HTTPClientFactory instances
      - e7bb7cc (michael dye): added trust test, also added transport connection idle max and timeout
      - 28cd4f4 (michael dye): added integration test suite to config module that tests the HTTP client factory w/ SSL trust cert config
      - 519933e (michael dye): implemented an HTTPClient factory in a Collaborators instance that is a member of a fully-formed HorizonConfig instance. Replaced both shared and discrete instances of net/http.Client with those from the factory. This centralization of client instance creation ensures consistent setup of configuration like CA Certificates
      - 5ec43b5 (michael dye): implemented less noisy build (with verbose flag). Added instructions about it
      - 8875c0f (michael dye): added collaborators to config
      - 66bb823 (michael dye): added linting to check make target
      - 7bbea53 (michael dye): executed gofmt on all files
      - ca0220b (Dave Booz): issue 312 - agreement protocol defaults and precedence
      - 021d79f (Dave Booz): issue 316 - support deployment overrides
      - e53e454 (linggao): issue 295 - Automatic upgrade of microservices
      - a93184d (Dave Booz): issue292 - support multiple microservice dependencies in a workload definition

 -- Blue Horizon Team <developers@bluehorizon.network>  Thu, 14 Sep 2017 15:57:55 -0600

horizon (2.5.0++VERSIONSUFFIX++) ++DISTRIBUTIONS++; urgency=medium

    * github.com/open-horizon/anax-ui.git, branch: master

    * github.com/open-horizon/anax.git, branch: master
      - a88560c (Dave Booz): issue 303 - support workload config variables
      - 013350a (linggao): issue 257:  ms workload split feature

 -- Blue Horizon Team <developers@bluehorizon.network>  Fri, 01 Sep 2017 13:35:46 +0000

horizon (2.4.2++VERSIONSUFFIX++) ++DISTRIBUTIONS++; urgency=medium

    * github.com/open-horizon/anax-ui.git, branch: master
      - dd26199 (Varatep Buranintu): remove computed metering attributes for location service and add check for oboject existence

      - dcc8473 (Varatep Buranintu): do not meter location services by default
      - 215cb3f (michael dye): added missing license file
      - c3507ff (Varatep Buranintu): add agreement protocol to rendered data
      - 2493b1c (Varatep Buranintu): change metering notification missed time label to "Missed Data Count"
      - 6c7c4d0 (Varatep Buranintu): add metering information to services agreement segment
      - 10c59ba (Varatep Buranintu): add metering information to terminated agreements segment
      - 1b99e59 (Varatep Buranintu): add checkbox and description for metering
      - 75fc0c3 (Varatep Buranintu): by default, enabling metering according to @dabooz
      - d14b1a3 (Varatep Buranintu): add metering attributes to workload
      - f72f8bb (Varatep Buranintu): check if metered. if not, pass thru empty obj to registrar
      - bfda028 (Varatep Buranintu): pass in metered param to service registrar
      - e2c6c0b (Varatep Buranintu): add metering attributes
      - bd63b7e (michael dye): added missing license file

    * github.com/open-horizon/anax.git, branch: horizon/2.4.2-b
      - af4adc1 (michael dye): adjusted status output to report connectivity and configuration data without blockchains
      - e4ff731 (Dave Booz): Issue 258 - Agbot supports microservice split
      - f69fbe4 (michael dye): move exchange URL to envvar from config file

 -- Blue Horizon Team <developers@bluehorizon.network>  Mon, 28 Aug 2017 17:37:21 +0000

horizon (2.2.1++VERSIONSUFFIX++) ++DISTRIBUTIONS++; urgency=medium

    * github.com/open-horizon/anax-ui.git, branch: master
      - aa5409c (Varatep Buranintu): add agreement protocol to rendered data
      - ce64ce8 (Varatep Buranintu): change metering notification missed time label to "Missed Data Count"
      - f8334a5 (Varatep Buranintu): add metering information to services agreement segment
      - ea919b5 (Varatep Buranintu): add metering information to terminated agreements segment
      - aa59a61 (Varatep Buranintu): add checkbox and description for metering
      - 77f7fa5 (Varatep Buranintu): by default, enabling metering according to @dabooz
      - a2eabc4 (Varatep Buranintu): add metering attributes to workload
      - e54302c (Varatep Buranintu): check if metered. if not, pass thru empty obj to registrar
      - 5466a96 (Varatep Buranintu): pass in metered param to service registrar
      - b0d4958 (Varatep Buranintu): add metering attributes

    * github.com/open-horizon/anax.git, branch: master
      - e0dfa6b (Dave Booz): issue 286 - agbot failed startup with old policy in agreement

 -- Blue Horizon Team <developers@bluehorizon.network>  Fri, 28 Jul 2017 19:04:31 -0600

horizon (2.2.0++VERSIONSUFFIX++) ++DISTRIBUTIONS++; urgency=medium

    * github.com/open-horizon/anax-ui.git, branch: master

    * github.com/open-horizon/anax.git, branch: master
      - 5fde71d (Dave Booz): Issue 233 - update protocol sequence diagrams
      - 7bf97ba (Dave Booz): Issue 233 - support multiple blockchain client containers

 -- Blue Horizon Team <developers@bluehorizon.network>  Thu, 27 Jul 2017 15:50:56 -0600

horizon (2.1.0++VERSIONSUFFIX++) ++DISTRIBUTIONS++; urgency=medium

    * github.com/open-horizon/anax-ui.git, branch: master
      - cba9375 (Varatep Buranintu): update text to match requested
      - 730474d (Varatep Buranintu): change description of microservice and add info for checkbox
      - 9c28c61 (Varatep Buranintu): prettify imports
      - ef33278 (Varatep Buranintu): remove period to align with other segments
      - 15c91a2 (Varatep Buranintu): remove log state
      - 7d3d9af (Varatep Buranintu): changes for rendering aural poc enabler
      - 415605d (Varatep Buranintu): rename aural svg poc icon
      - 1b8bedb (Varatep Buranintu): add aural poc icon
      - f2f303c (Varatep Buranintu): update sensor url to proper one
      - c9f5670 (Varatep Buranintu): add api request for aural service registration
      - 6370b6f (Varatep Buranintu): add object mapping for aural service registration
      - e5ee0c7 (Varatep Buranintu): add aural service registrator
      - 596c7f9 (Varatep Buranintu): change filter queries
      - c35f512 (Varatep Buranintu): fix lodash includes param ordering
      - acf7231 (Varatep Buranintu): fix bug of page state getting reset on new props
      - 4da2faf (Varatep Buranintu): finish terminated agreements with filter and sorted by desc order
      - b8807c8 (Varatep Buranintu): add filtering updates and filter menu item
      - 79d16ea (Varatep Buranintu): import pagination css
      - d819a91 (Varatep Buranintu): add styling for pagination components
      - 369b1c0 (Varatep Buranintu): remove rendering of archived agreements in the same component
      - 1f03b63 (Varatep Buranintu): add separate component for showing terminated agreements. pure component that doesn't call api
      - 7ede90a (Varatep Buranintu): add new pagination package
      - 52e2d8c (michael dye): updated related projects list
      - b7b5003 (Varatep Buranintu): updates for showing all terminated agreements

    * github.com/open-horizon/anax.git, branch: master
      - 38f7c65 (michael dye): updated README.md projects and make invocation
      - bd623ea (michael dye): removed container integration tests; they fail now

 -- Blue Horizon Team <developers@bluehorizon.network>  Mon, 24 Jul 2017 20:46:10 -0600

horizon (2.0.17++VERSIONSUFFIX++) ++DISTRIBUTIONS++; urgency=medium

    * github.com/open-horizon/anax-ui.git, branch: master
      - ee20ee1 (Varatep Buranintu): use new tabs instead of redirecting in same tab, causing application flow to be corrupt
      - 3d0bce3 (Varatep Buranintu): show visibility button for password field if account exists
      - 60ce8eb (michael dye): added efficiencies to build
      - 26332bd (Varatep Buranintu): remove auto refilling for account form
      - ff69bab (Varatep Buranintu): fix issue for email validation error still occurring after toggling checkbox for account exists
      - a88eb5f (Varatep Buranintu): remove gpsdevice mapping
      - fa3dd4e (Varatep Buranintu): remove v1 reg ui mappings
      - f986853 (Varatep Buranintu): add extra check for empty inputs in validation
      - 5b5c349 (Varatep Buranintu): remove duplicate name property
      - a2c1425 (Varatep Buranintu): remove MTN prefixes
      - 6f8c467 (Varatep Buranintu): closes #46

    * github.com/open-horizon/anax.git, branch: master
      - 47c8964 (Dave Booz): issue 270 - agbot places producer policy as-is from exchange into proposal
      - d7684fb (michael dye): fixed ugliness in TMPDIR path building; added feature to use existing gopath/.cache via opt-in var; guard symlink in PKGPATH with check
      - ca2e412 (Dave Booz): Issue 263 - Cancel agreement when agreement protocol deleted from policy
      - 7b9a79e (Dave Booz): issue218 - multiple BC stage 2
      - 627b8e6 (linggao): Fixed issue 259
      - fa03d7b (Dave Booz): new blockchainless agreement protocol
      - f722de0 (Dave Booz): final fixes
      - b9eab3c (Dave Booz): code complete
      - 2e22c67 (linggao): Added more information to the error message after the exchange.CreateMessageTarget call
      - a833ca1 (linggao): added description to each anax and agbot apis.
      - 1b04ca9 (linggao): updated agreement_bot_api doc about the limitation of /workloadusage api.
      - 51556ea (Dave Booz): preliminary commit to merge up
      - 5b94a55 (linggao): updated anax api doc.

 -- Blue Horizon Team <developers@bluehorizon.network>  Mon, 10 Jul 2017 11:02:57 -0600

horizon (2.0.13++VERSIONSUFFIX++) ++DISTRIBUTIONS++; urgency=medium

    * github.com/open-horizon/anax-ui.git, branch: master
      - ee20ee1 (Varatep Buranintu): use new tabs instead of redirecting in same tab, causing application flow to be corrupt
      - 3d0bce3 (Varatep Buranintu): show visibility button for password field if account exists
      - 60ce8eb (michael dye): added efficiencies to build
      - 26332bd (Varatep Buranintu): remove auto refilling for account form
      - ff69bab (Varatep Buranintu): fix issue for email validation error still occurring after toggling checkbox for account exists
      - a88eb5f (Varatep Buranintu): remove gpsdevice mapping
      - fa3dd4e (Varatep Buranintu): remove v1 reg ui mappings
      - f986853 (Varatep Buranintu): add extra check for empty inputs in validation
      - 5b5c349 (Varatep Buranintu): remove duplicate name property
      - a2c1425 (Varatep Buranintu): remove MTN prefixes
      - 6f8c467 (Varatep Buranintu): closes #46

    * github.com/open-horizon/anax.git, branch: master
      - 47c8964 (Dave Booz): issue 270 - agbot places producer policy as-is from exchange into proposal
      - d7684fb (michael dye): fixed ugliness in TMPDIR path building; added feature to use existing gopath/.cache via opt-in var; guard symlink in PKGPATH with check
      - ca2e412 (Dave Booz): Issue 263 - Cancel agreement when agreement protocol deleted from policy
      - 7b9a79e (Dave Booz): issue218 - multiple BC stage 2
      - 627b8e6 (linggao): Fixed issue 259
      - fa03d7b (Dave Booz): new blockchainless agreement protocol
      - f722de0 (Dave Booz): final fixes
      - b9eab3c (Dave Booz): code complete
      - 2e22c67 (linggao): Added more information to the error message after the exchange.CreateMessageTarget call
      - a833ca1 (linggao): added description to each anax and agbot apis.
      - 1b04ca9 (linggao): updated agreement_bot_api doc about the limitation of /workloadusage api.
      - 51556ea (Dave Booz): preliminary commit to merge up
      - 5b94a55 (linggao): updated anax api doc.

 -- Blue Horizon Team <developers@bluehorizon.network>  Sat, 08 Jul 2017 18:38:14 -0600

horizon (2.0.1) stable; urgency=medium

  * Initial release.

 -- Blue Horizon Team <developers@bluehorizon.network>  Thu, 27 Apr 2017 08:25:32 +0000

