[Unit]
Description=Service for Horizon control system (cf. https://bluehorizon.network)
Requires=network-online.target
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/etc/default/horizon
ExecStartPre=/usr/horizon/bin/horizon-set-device-id /etc/default/horizon
ExecStart=/usr/horizon/bin/anax -v 3 -logtostderr -config /etc/horizon/anax.json
Restart=always
TimeoutStopSec=30
Type=simple

[Install]
WantedBy=multi-user.target
