#!/usr/bin/make -f

SHELL := /bin/bash
ANAX_TMPGOPATH := $(CURDIR)/anaxtmpgopath

%:
	dh $@

override_dh_auto_test:
	@echo "N.B. Test execution not yet plumbed"

#TODO: add an override to make sure the changelog matches the PACKAGEVERSION or bail with a message

#TODO: reuse SUBPROJECTS names from the other makefile

# these are expected to be the same location as in the wrapping Makefile
HORIZON-OUTDIRBASE=$(CURDIR)/debian/horizon
BLUEHORIZON-OUTDIRBASE=$(CURDIR)/debian/bluehorizon
override_dh_auto_build:
	cd anax && $(MAKE) TMPGOPATH=$(ANAX_TMPGOPATH)
	cd anax-ui && $(MAKE)

override_dh_auto_install:
	-[ ! -e "$(ANAX_TMPGOPATH)" ] && mkdir -p $(ANAX_TMPGOPATH)
	cd anax && $(MAKE) install DESTDIR=$(HORIZON-OUTDIRBASE)/usr/horizon
	cd anax-ui && $(MAKE) install DESTDIR=$(BLUEHORIZON-OUTDIRBASE)/usr/horizon
	# copy the staged, static files
	mkdir -p $(HORIZON-OUTDIRBASE) && cp -Ra $(CURDIR)/debian/fs-horizon/. $(HORIZON-OUTDIRBASE)
	mkdir -p $(BLUEHORIZON-OUTDIRBASE) && cp -Ra $(CURDIR)/debian/fs-bluehorizon/. $(BLUEHORIZON-OUTDIRBASE)

clean.%:
	rm -Rf $(BUILDDIR_$*)
