#!/usr/bin/make -f

SHELL := /bin/bash

%:
	dh $@

override_dh_auto_test:
	@echo "N.B. Test execution not yet plumbed"

#TODO: add an override to make sure the changelog matches the PACKAGEVERSION or bail with a message

# these are expected to be the same location as in the wrapping Makefile
HORIZON-OUTDIRBASE=$(CURDIR)/debian/horizon
HORIZON-CLI-OUTDIRBASE=$(CURDIR)/debian/horizon-cli
BLUEHORIZON-OUTDIRBASE=$(CURDIR)/debian/bluehorizon
ANAX-OUTDIRBASE=$(CURDIR)/anax

override_dh_auto_build:
	cd anax && $(MAKE) arch=$(arch) all-nodeps

override_dh_auto_install:
	cd anax && $(MAKE) install DESTDIR=$(HORIZON-OUTDIRBASE)/usr/horizon
	# copy the staged, static files
	mkdir -p $(HORIZON-OUTDIRBASE) && cp -Ra $(CURDIR)/debian/fs-horizon/. $(HORIZON-OUTDIRBASE)
	mkdir -p $(HORIZON-CLI-OUTDIRBASE)/usr/horizon/bin && mv $(HORIZON-OUTDIRBASE)/usr/horizon/bin/hzn $(HORIZON-CLI-OUTDIRBASE)/usr/horizon/bin && mv $(HORIZON-OUTDIRBASE)/usr/horizon/bin/horizon-container $(HORIZON-CLI-OUTDIRBASE)/usr/horizon/bin
	if [ -e $(ANAX-OUTDIRBASE)/cli/man1/hzn.1 ]; then \
		mkdir -p $(HORIZON-CLI-OUTDIRBASE)/usr/share/man/man1 && mv $(ANAX-OUTDIRBASE)/cli/man1/hzn.1 $(HORIZON-CLI-OUTDIRBASE)/usr/share/man/man1; \
	fi
	if [ -e $(ANAX-OUTDIRBASE)/cli/bash_completion/hzn_bash_autocomplete.sh ]; then \
		mkdir -p $(HORIZON-CLI-OUTDIRBASE)/etc/bash_completion.d && mv $(ANAX-OUTDIRBASE)/cli/bash_completion/hzn_bash_autocomplete.sh $(HORIZON-CLI-OUTDIRBASE)/etc/bash_completion.d; \
	fi
	mkdir -p $(BLUEHORIZON-OUTDIRBASE) && cp -Ra $(CURDIR)/debian/fs-bluehorizon/. $(BLUEHORIZON-OUTDIRBASE)

#override_dh_builddeb:
#	@echo "Running dh_builddeb"
#	$(shell env)
#
override_dh_strip:
	@echo "Skipping strip step in debhelper: we have only interpreted code and Golang static binaries"

clean:
	@echo "Executing rules/clean"
	rm -Rf $(HORIZON-OUTDIRBASE) $(HORIZON-CLI-OUTDIRBASE) $(BLUEHORIZON-OUTDIRBASE)
	@echo "Running mostlyclean in $(CURDIR)/anax to remove compiled artifacts"
	cd anax && $(MAKE) mostlyclean

clean.%:
	rm -Rf $(BUILDDIR_$*)
