#!/usr/bin/make -f

SHELL := /bin/bash

# make sure this is available
TMPGOPATH = $(CURDIR)/anaxtmpgopath
$(shell mkdir -p $(TMPGOPATH))

%:
	dh $@

override_dh_auto_test:
	@echo "N.B. Test execution not yet plumbed"

#TODO: add an override to make sure the changelog matches the PACKAGEVERSION or bail with a message

#TODO: reuse SUBPROJECTS names from the other makefile

# these are expected to be the same location as in the wrapping Makefile
HORIZON-OUTDIRBASE=$(CURDIR)/debian/horizon
BLUEHORIZON-OUTDIRBASE=$(CURDIR)/debian/bluehorizon
override_dh_auto_build:
	@echo "gopath: ${TMPGOPATH}"
	cd anax && $(MAKE) TMPGOPATH=$(TMPGOPATH)

override_dh_auto_install:
	cd anax && $(MAKE) install DESTDIR=$(HORIZON-OUTDIRBASE)/usr/horizon
	# copy the staged, static files
	mkdir -p $(HORIZON-OUTDIRBASE) && cp -Ra $(CURDIR)/debian/fs-horizon/. $(HORIZON-OUTDIRBASE)
	mkdir -p $(BLUEHORIZON-OUTDIRBASE) && cp -Ra $(CURDIR)/debian/fs-bluehorizon/. $(BLUEHORIZON-OUTDIRBASE)

clean.%:
	rm -Rf $(BUILDDIR_$*)
