{
  "Edge": {
    "TorrentDir": "${SNAP_COMMON}/var/cache/horizon/torrent/",
    "APIListen": "0.0.0.0:80",
    "DBPath": "${SNAP_COMMON}/var/horizon/",
    "GethURL": "http://127.0.0.1:8545",
    "DockerEndpoint": "unix:///var/run/docker.sock",
    "StaticWebContent": "${SNAP}/usr/horizon/web/",
    "PublicKeyPath": "${SNAP}/etc/horizon/trust/mtn-publicKey.pem",
    "CACertsPath": "${SNAP}/etc/horizon/trust/horizon.pem",
    "DefaultCPUSet": "",
    "WorkloadROStorage": "${SNAP_COMMON}/var/tmp/horizon/workload_ro/",
    "ExchangeURL": "https://exchange.bluehorizon.network/api/v1/",
    "PolicyPath": "${SNAP_COMMON}/etc/horizon/policy.d/",
    "ExchangeHeartbeat": 60,
    "AgreementTimeoutS": 600
  },
  "AgreementBot": {
    "DBPath": "${SNAP_COMMON}/var/horizon/",
    "GethURL": "http://127.0.0.1:8545",
    "TxLostDelayTolerationSeconds": 240,
    "AgreementWorkers": 5,
    "ProtocolTimeoutS": 60,
    "AgreementTimeoutS": 600,
    "PolicyPath": "${SNAP_COMMON}/etc/horizon/agbot/policy.d/",
    "NewContractIntervalS": 15,
    "ProcessGovernanceIntervalS": 10,
    "IgnoreContractWithAttribs": "ethereum_account",
    "ExchangeURL": "https://exchange.bluehorizon.network/api/v1/",
    "ExchangeHeartbeat": 60,
    "ActiveDeviceTimeoutS": 180
  }
}
