{
  "Edge": {
    "APIListen": "127.0.0.1:80",
    "DBPath": "${SNAP_COMMON}/var/horizon/",
    "GethURL": "http://127.0.0.1:8545",
    "DockerEndpoint": "unix:///var/run/docker.sock",
    "StaticWebContent": "${SNAP}/usr/horizon/web/",
    "PublicKeyPath": "${SNAP}/etc/horizon/trust/mtn-publicKey.pem",
    "TrustSystemCACerts": true,
    "CACertsPath": "${SNAP}/etc/horizon/trust/horizon.pem",
    "DefaultCPUSet": "",
    "ServiceStorage": "",
    "ExchangeURL": "https://alpha.edge-fabric.com/v1/",
    "PolicyPath": "${SNAP_COMMON}/etc/horizon/policy.d/",
    "ExchangeHeartbeat": 60,
    "ExchangeVersionCheckIntervalM": 720,
    "ExchangeMessageTTL": 1800,
    "AgreementTimeoutS": 600,
    "ReportDeviceStatus": true,
    "TrustCertUpdatesFromOrg": true,
    "TrustDockerAuthFromOrg": true,
    "ServiceUpgradeCheckIntervalS": 300,
    "MultipleAnaxInstances": false,
    "FileSyncService": {
        "CSSURL": "https://alpha.edge-fabric.com/css/"
    }
  },
  "ArchSynonyms": {
    "x86_64": "amd64",
    "armhf": "arm",
    "aarch64": "arm64"
  }
}
