{
  "Edge": {
    "TorrentDir": "${SNAP_COMMON}/var/cache/horizon/torrent/",
    "APIListen": "127.0.0.1:80",
    "DBPath": "${SNAP_COMMON}/var/horizon/",
    "GethURL": "http://127.0.0.1:8545",
    "DockerEndpoint": "unix:///var/run/docker.sock",
    "StaticWebContent": "${SNAP}/usr/horizon/web/",
    "PublicKeyPath": "${SNAP}/etc/horizon/trust/mtn-publicKey.pem",
    "TrustSystemCACerts": true,
    "CACertsPath": "${SNAP}/etc/horizon/trust/horizon.pem",
    "DefaultCPUSet": "",
    "ServiceStorage": "",
    "ExchangeURL": "https://stg-edge-cluster.us-south.containers.appdomain.cloud/v1/",
    "PolicyPath": "${SNAP_COMMON}/etc/horizon/policy.d/",
    "ExchangeHeartbeat": 60,
    "ExchangeVersionCheckIntervalM": 720,
    "AgreementTimeoutS": 600,
    "ReportDeviceStatus": true,
    "TrustCertUpdatesFromOrg": true,
    "TrustDockerAuthFromOrg": true,
    "ServiceUpgradeCheckIntervalS": 300,
    "MultipleAnaxInstances": false
  },
  "ArchSynonyms": {
    "x86_64": "amd64",
    "armhf": "arm",
    "aarch64": "arm64"
  }
}
