#!/usr/bin/make -f

SHELL := /bin/bash

%:
	dh $@ --with systemd

override_dh_auto_test:
	@echo "N.B. Test execution not yet plumbed"

#TODO: add an override to make sure the changelog matches the PACKAGEVERSION or bail with a message

#TODO: reuse SUBPROJECTS names from the other makefile

# these are expected to be the same location as in the wrapping Makefile
HORIZON-OUTDIRBASE=$(CURDIR)/debian/horizon
BLUEHORIZON-OUTDIRBASE=$(CURDIR)/debian/bluehorizon
override_dh_auto_build:
	cd anax && $(MAKE)
	cd anax-ui && $(MAKE)

override_dh_auto_install:
	cd anax && $(MAKE) install DESTDIR=$(HORIZON-OUTDIRBASE)/usr/horizon
	cd anax-ui && $(MAKE) install DESTDIR=$(BLUEHORIZON-OUTDIRBASE)/usr/horizon
	# copy the staged, static files
	mkdir -p $(HORIZON-OUTDIRBASE) && cp -Ra $(CURDIR)/debian/fs-horizon/. $(HORIZON-OUTDIRBASE)
	mkdir -p $(BLUEHORIZON-OUTDIRBASE) && cp -Ra $(CURDIR)/debian/fs-bluehorizon/. $(BLUEHORIZON-OUTDIRBASE)

override_dh_systemd_enable:
	dh_systemd_enable --name=horizon horizon.service

clean.%:
	rm -Rf $(BUILDDIR_$*)
