{
    "microservices": [
        {
            "org": "IBM",
            "url": "https://internetofthings.ibmcloud.com/wiotp-edge/microservices/edge-core-iot-microservice",
            "versionRange": "[0.0.0,INFINITY)",
            "variables": {
            }
        }
    ]
}
