{
    "services": [
        {
            "org": "IBM",
            "url": "https://internetofthings.ibmcloud.com/wiotp-edge/services/core-iot",
            "versionRange": "[0.0.0,INFINITY)",
            "variables": {
            }
        }
    ]
}
